.fertig-slick-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  bottom: 5%;
  z-index: 10;
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
  display: none;
  height: 95%;
  .fertig-slick-caption-item {
    margin-top: 5rem;
    @media screen and (min-width: 1200px) {
      margin-top: 15rem;
    }
  }
  .fertig-caption-img {
    max-height: 100%;
    max-width: 100%;
  }

  .fertig-caption-title {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    min-height: 32px;
    color: #3399cc;
    text-decoration: none;
    background: -webkit-linear-gradient(0, #09bdf8, #156eb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
  }
  .fertig-caption-subtitle {
    display: inline-block;
    background: -webkit-linear-gradient(0, #09bdf8, #156eb2);
    width: auto;
    border-radius: 10px;
    font-weight: 500;
    padding: 2px 1rem;
  }
  .fertig-caption-button {
    color: $primary !important;
    font-family: $font-family-sans-serif;
    font-weight: 400;
  }
}