.fertig-slick-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  bottom: 5%;
  z-index: 10;
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
  display: none;
  height: 95%;
  .fertig-slick-caption-item {
    margin-top: 5rem;
    &:last-child {
      margin-top: 1rem;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 15rem;
      &:last-child {
        margin-top: 15rem;
      }
    }
  }
  .fertig-caption-img {
    max-height: 100%;
    max-width: 100%;
  }
  .fertig-caption-button {
    color: $primary !important;
    font-family: $font-family-sans-serif;
    font-weight: 400;
  }
}